
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


  .content {
    display: flex;
    margin: 100px auto 32px;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: row;
    fxLayout="row wrap";
    fxLayoutGap="10px";
    align-items: center start;
  }

  a,
  a:visited,
  a:hover {
    color: #B8860B;
    text-decoration: none;
    font-size: 22px;
  }

  a:hover {
    color: #8B4513;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }



  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .example-card {
    heght: 150px;
    margin: 10px;
    }

   mat-card-title {
    text-align: left;
    width: 200px;
    }

   #sidebar {
    fxLayout="row wrap";
    fxLayoutGap="10px";
    width: 300px;
    }

</style>

<div class="content" role="main">


          <div id="sidebar">
            <ul *ngFor="let category of categoryList.results" >
              <li><a href="#">{{ category.name }}</a></li>
            </ul>
          </div>


          <div id="app-center"
           fxFlex="100"
           fxLayout="row wrap"
           fxLayoutGap="30px"
           fxLayoutAlign="center start">

              <mat-card class="example-card" *ngFor="let category of categoryList.results">
                <mat-card-header style="height: 60px;">
                  <div mat-card-avatar class="example-header-image" style="width: 90px;">
                    <mat-card-title>{{ category.name }}</mat-card-title>
                  </div>
                </mat-card-header>


                <mat-card-content>
                </mat-card-content>
                  <img src="{{ category.image_url }}"/>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>

        </div>

</div>
