
  <div [ngSwitch]="list">
    <div class="content2" *ngSwitchCase="'category'">

      <div class="name">
        <p>Каталог продукции</p>
      </div>


      <div id="app-center">
        <mat-card class="example-card" *ngFor="let category of categoryList">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <mat-card-title>
                <a [routerLink]="['/catalog/cat', category.id]">{{ category.name | uppercase }}</a>
              </mat-card-title>
            </div>
          </mat-card-header>

          <a [routerLink]="['/catalog/cat', category.id]"><img src="{{ category.image_url }}"/></a>

          <mat-card-content>
            <span *ngFor="let sub of category.subcategory">
              <a [routerLink]="['/catalog/prod', sub[1]]">{{ sub[0] }}, </a></span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <app-subcategory *ngSwitchCase="'subcategory'"></app-subcategory>
    <app-product *ngSwitchCase="'product'"></app-product>
    <app-subcat2 *ngSwitchCase="'subcat2'"></app-subcat2>
    <app-subcat3 *ngSwitchCase="'subcat3'"></app-subcat3>
    <app-subcat4 *ngSwitchCase="'subcat4'"></app-subcat4>
  </div>
